<ion-view style="" class=" " id="page2" title="Přihlásit se">
    <ion-content class="has-header" padding="true">
        <form class="list " id="pIhlSitSe-form2">
            <ion-list class=" " id="pIhlSitSe-list1">
                <label id="pIhlSitSe-input3" class="item item-input ">
                    <span class="input-label">Email</span>
                    <input placeholder="Váš e-mail" type="email">
                </label>
                <label id="pIhlSitSe-input4" class="item item-input ">
                    <span class="input-label">Heslo</span>
                    <input placeholder="Vaše heslo" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class=" button button-stable  button-block " id="pIhlSitSe-button3">Log in</button>
            <a class=" button button-positive  button-block button-clear " id="pIhlSitSe-button4" onclick="window.open('/signup', '_system', 'location=yes'); return false;" href="#">Or create an account</a>
        </form>
    </ion-content>
</ion-view>