<ion-view style="" class=" " id="page3" title="Zaregistrovat se">
    <ion-content class="has-header" padding="true">
        <form class="list " id="zaregistrovatSe-form3">
            <ion-list class=" " id="zaregistrovatSe-list2">
                <label id="zaregistrovatSe-input5" class="item item-input ">
                    <span class="input-label">Jméno</span>
                    <input placeholder="Vaše jméno" type="text">
                </label>
                <label id="zaregistrovatSe-input6" class="item item-input ">
                    <span class="input-label">Email</span>
                    <input placeholder="Váš e-mail" type="email">
                </label>
                <label id="zaregistrovatSe-input7" class="item item-input ">
                    <span class="input-label">Heslo</span>
                    <input placeholder="zadej heslo" type="password">
                </label>
            </ion-list>
            <button class=" button button-stable  button-block " id="zaregistrovatSe-button5">Zaregistrovat se</button>
        </form>
    </ion-content>
</ion-view>